@model DataAccess.Dtos.CourseDto

@{
    ViewData["Title"] = Model.CourseCode + " " + Model.Author?.FullName;
}

<h1>@(Model.CourseCode + " " + Model.Author?.FullName)</h1>

<div class="row">
	<div class=" col-md-10">
		@if (ViewBag.Documents != null && ViewBag.Documents.Count > 0)
		{
			<h4>Documents:</h4>
			foreach (var document in ViewBag.Documents)
			{
				<a href="@Url.Action("Download", "File",
            new { fileName = document.DocumentName, contentType = document.ContentType })">@document.DocumentOriginalName</a>
				<br />
			}
		}
	</div>
	<div class=" col-md-2">
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
				Options
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				@if (ViewBag.currentUser.Id == Model.Author.Id)
				{
					<li><a style="text-decoration: none; padding-left: 8%;" href="@Url.Action("Upload", "File", new { id = Model.Id})">Upload Document</a></li>
					@if (ViewBag.Documents != null && ViewBag.Documents.Count > 0)
					{
						<li><a style="text-decoration: none; padding-left: 8%;" href="@Url.Action("Edit", "Course", new { id = Model.Id})">Edit Course</a></li>
					}else{
						<li><a disable style="text-decoration: none; padding-left: 8%;" href="@Url.Action("Edit", "Course", new { id = Model.Id})">Edit Course</a></li>
					}

				}
				else if (ViewBag.currentUser.IsTeacher == false)
				{
					<li><a style="text-decoration: none; padding-left: 8%;" href="@Url.Action("UnEnroll", "Course", new { id = Model.Id})">Unenroll Course</a></li>
				}
			</ul>
		</div>
	</div>
</div>

